<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Food_Manager</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DeskServlet</display-name>
    <servlet-name>DeskServlet</servlet-name>
    <servlet-class>com.res.controller.desk.DeskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeskServlet</servlet-name>
    <url-pattern>/DeskServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addDesk</display-name>
    <servlet-name>addDesk</servlet-name>
    <servlet-class>com.res.controller.desk.AddDeskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addDesk</servlet-name>
    <url-pattern>/addDesk</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelDeskServlet</display-name>
    <servlet-name>DelDeskServlet</servlet-name>
    <servlet-class>com.res.controller.desk.DelDeskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelDeskServlet</servlet-name>
    <url-pattern>/delDesk</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTypeServlet</display-name>
    <servlet-name>AddTypeServlet</servlet-name>
    <servlet-class>com.res.controller.foodtype.AddTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTypeServlet</servlet-name>
    <url-pattern>/AddTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ftServlet</display-name>
    <servlet-name>ftServlet</servlet-name>
    <servlet-class>com.res.controller.foodtype.FoodTypeListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ftServlet</servlet-name>
    <url-pattern>/ftServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delType</display-name>
    <servlet-name>delType</servlet-name>
    <servlet-class>com.res.controller.foodtype.DelTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delType</servlet-name>
    <url-pattern>/delType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTypeServlet</display-name>
    <servlet-name>UpdateTypeServlet</servlet-name>
    <servlet-class>com.res.controller.foodtype.UpdateTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTypeServlet</servlet-name>
    <url-pattern>/UpdateTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UnSubDesk</display-name>
    <servlet-name>UnSubDesk</servlet-name>
    <servlet-class>com.res.controller.desk.UnSubDeskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnSubDesk</servlet-name>
    <url-pattern>/UnSubDesk</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fdServlet</display-name>
    <servlet-name>fdServlet</servlet-name>
    <servlet-class>com.res.controller.food.FoodListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fdServlet</servlet-name>
    <url-pattern>/fdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addf</display-name>
    <servlet-name>addf</servlet-name>
    <servlet-class>com.res.controller.food.AddFoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addf</servlet-name>
    <url-pattern>/addf</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelFoodServlet</display-name>
    <servlet-name>DelFoodServlet</servlet-name>
    <servlet-class>com.res.controller.food.DelFoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelFoodServlet</servlet-name>
    <url-pattern>/DelFoodServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateFoodServlet</display-name>
    <servlet-name>UpdateFoodServlet</servlet-name>
    <servlet-class>com.res.controller.food.UpdateFoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateFoodServlet</servlet-name>
    <url-pattern>/UpdateFoodServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageServlet</display-name>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>com.res.controller.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/ImageServlet</url-pattern>
  </servlet-mapping>
  
  
</web-app>